MailBoxM/directorymailbox.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="DirectoryManagerBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/DirectoryManagerBeanService/DirectoryManagerBean?xsd=1"/>
</xsd:schema>
</types>
<message name="updateUserRights">
<part name="parameters" element="tns:updateUserRights"/>
</message>
<message name="updateUserRightsResponse">
<part name="parameters" element="tns:updateUserRightsResponse"/>
</message>
<message name="listUsers">
<part name="parameters" element="tns:listUsers"/>
</message>
<message name="listUsersResponse">
<part name="parameters" element="tns:listUsersResponse"/>
</message>
<message name="findUser">
<part name="parameters" element="tns:findUser"/>
</message>
<message name="findUserResponse">
<part name="parameters" element="tns:findUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="lookupUserRights">
<part name="parameters" element="tns:lookupUserRights"/>
</message>
<message name="lookupUserRightsResponse">
<part name="parameters" element="tns:lookupUserRightsResponse"/>
</message>
<portType name="DirectoryManagerBean">
<operation name="updateUserRights">
<input wsam:Action="http://ejb/DirectoryManagerBean/updateUserRightsRequest" message="tns:updateUserRights"/>
<output wsam:Action="http://ejb/DirectoryManagerBean/updateUserRightsResponse" message="tns:updateUserRightsResponse"/>
</operation>
<operation name="listUsers">
<input wsam:Action="http://ejb/DirectoryManagerBean/listUsersRequest" message="tns:listUsers"/>
<output wsam:Action="http://ejb/DirectoryManagerBean/listUsersResponse" message="tns:listUsersResponse"/>
</operation>
<operation name="findUser">
<input wsam:Action="http://ejb/DirectoryManagerBean/findUserRequest" message="tns:findUser"/>
<output wsam:Action="http://ejb/DirectoryManagerBean/findUserResponse" message="tns:findUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://ejb/DirectoryManagerBean/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://ejb/DirectoryManagerBean/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://ejb/DirectoryManagerBean/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://ejb/DirectoryManagerBean/removeUserResponse" message="tns:removeUserResponse"/>
</operation>
<operation name="lookupUserRights">
<input wsam:Action="http://ejb/DirectoryManagerBean/lookupUserRightsRequest" message="tns:lookupUserRights"/>
<output wsam:Action="http://ejb/DirectoryManagerBean/lookupUserRightsResponse" message="tns:lookupUserRightsResponse"/>
</operation>
</portType>
<binding name="DirectoryManagerBeanPortBinding" type="tns:DirectoryManagerBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateUserRights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lookupUserRights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DirectoryManagerBeanService">
<port name="DirectoryManagerBeanPort" binding="tns:DirectoryManagerBeanPortBinding">
<soap:address location="http://localhost:8080/DirectoryManagerBeanService/DirectoryManagerBean"/>
</port>
</service>
</definitions>