MailBoxD/mailboxmanager.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="MailBoxManagerBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/MailBoxManagerBeanService/MailBoxManagerBean?xsd=1"/>
</xsd:schema>
</types>
<message name="sendMessage">
<part name="parameters" element="tns:sendMessage"/>
</message>
<message name="sendMessageResponse">
<part name="parameters" element="tns:sendMessageResponse"/>
</message>
<message name="addUserMailBox">
<part name="parameters" element="tns:addUserMailBox"/>
</message>
<message name="addUserMailBoxResponse">
<part name="parameters" element="tns:addUserMailBoxResponse"/>
</message>
<message name="readNewMessages">
<part name="parameters" element="tns:readNewMessages"/>
</message>
<message name="readNewMessagesResponse">
<part name="parameters" element="tns:readNewMessagesResponse"/>
</message>
<message name="readAllMessages">
<part name="parameters" element="tns:readAllMessages"/>
</message>
<message name="readAllMessagesResponse">
<part name="parameters" element="tns:readAllMessagesResponse"/>
</message>
<message name="deleteMessage">
<part name="parameters" element="tns:deleteMessage"/>
</message>
<message name="deleteMessageResponse">
<part name="parameters" element="tns:deleteMessageResponse"/>
</message>
<message name="deleteReadMessages">
<part name="parameters" element="tns:deleteReadMessages"/>
</message>
<message name="deleteReadMessagesResponse">
<part name="parameters" element="tns:deleteReadMessagesResponse"/>
</message>
<message name="sendNews">
<part name="parameters" element="tns:sendNews"/>
</message>
<message name="sendNewsResponse">
<part name="parameters" element="tns:sendNewsResponse"/>
</message>
<message name="removeUserMailBox">
<part name="parameters" element="tns:removeUserMailBox"/>
</message>
<message name="removeUserMailBoxResponse">
<part name="parameters" element="tns:removeUserMailBoxResponse"/>
</message>
<portType name="MailBoxManagerBean">
<operation name="sendMessage">
<input wsam:Action="http://server/MailBoxManagerBean/sendMessageRequest" message="tns:sendMessage"/>
<output wsam:Action="http://server/MailBoxManagerBean/sendMessageResponse" message="tns:sendMessageResponse"/>
</operation>
<operation name="addUserMailBox">
<input wsam:Action="http://server/MailBoxManagerBean/addUserMailBoxRequest" message="tns:addUserMailBox"/>
<output wsam:Action="http://server/MailBoxManagerBean/addUserMailBoxResponse" message="tns:addUserMailBoxResponse"/>
</operation>
<operation name="readNewMessages">
<input wsam:Action="http://server/MailBoxManagerBean/readNewMessagesRequest" message="tns:readNewMessages"/>
<output wsam:Action="http://server/MailBoxManagerBean/readNewMessagesResponse" message="tns:readNewMessagesResponse"/>
</operation>
<operation name="readAllMessages">
<input wsam:Action="http://server/MailBoxManagerBean/readAllMessagesRequest" message="tns:readAllMessages"/>
<output wsam:Action="http://server/MailBoxManagerBean/readAllMessagesResponse" message="tns:readAllMessagesResponse"/>
</operation>
<operation name="deleteMessage">
<input wsam:Action="http://server/MailBoxManagerBean/deleteMessageRequest" message="tns:deleteMessage"/>
<output wsam:Action="http://server/MailBoxManagerBean/deleteMessageResponse" message="tns:deleteMessageResponse"/>
</operation>
<operation name="deleteReadMessages">
<input wsam:Action="http://server/MailBoxManagerBean/deleteReadMessagesRequest" message="tns:deleteReadMessages"/>
<output wsam:Action="http://server/MailBoxManagerBean/deleteReadMessagesResponse" message="tns:deleteReadMessagesResponse"/>
</operation>
<operation name="sendNews">
<input wsam:Action="http://server/MailBoxManagerBean/sendNewsRequest" message="tns:sendNews"/>
<output wsam:Action="http://server/MailBoxManagerBean/sendNewsResponse" message="tns:sendNewsResponse"/>
</operation>
<operation name="removeUserMailBox">
<input wsam:Action="http://server/MailBoxManagerBean/removeUserMailBoxRequest" message="tns:removeUserMailBox"/>
<output wsam:Action="http://server/MailBoxManagerBean/removeUserMailBoxResponse" message="tns:removeUserMailBoxResponse"/>
</operation>
</portType>
<binding name="MailBoxManagerBeanPortBinding" type="tns:MailBoxManagerBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUserMailBox">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readNewMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteReadMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUserMailBox">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MailBoxManagerBeanService">
<port name="MailBoxManagerBeanPort" binding="tns:MailBoxManagerBeanPortBinding">
<soap:address location="http://localhost:8080/MailBoxManagerBeanService/MailBoxManagerBean"/>
</port>
</service>
</definitions>